{
  "presets": ["next/babel"],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ]
  ]
}
